@media (min-width: 1200px) {
  .container{
    max-width: 970px;
  }
}
.main {
  background: #fff;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
}

body {
  background: #eee;
color: #666666; }

#main {
  position: relative;
}

.page {
  position: absolute;
  top: 0px;
  width: 100%;
}

img {
  max-width: 100%;
}

.navbar {
  margin-bottom: 5px;
  margin-top: 5px; }
/* line 32, ../sass/style.scss */
.navbar .navbar-inner {
border-radius: 0px 0px 3px 3px; }

.lunches{
  margin: auto;
  width: 98%;
}

#no-lunches img{
  margin: 30px;
}

.lunches-row {
  margin-top: 50px:
}

.lunch {
  padding: 5px;
  margin: 10px;
  background: white;
  box-shadow: 4px 4px rgba(0,0,0,0.04);
  border-radius: 3px;
}

.lunch-header {
  height: 50px;
}

.lunch-main{
  padding-left: 10px;
  padding-bottom: 5px;
}

.lunch-vote {
  padding: 5px;
  float: right;
  font-size: 20px;
}

.fa.votable{
  font-size: 20px;
}

.fa.not-votable{
  font-size: 20px;
  color: gray;
}

.lunch-details {
  float: left;
  padding: 5px;
}

h3#restaurant-title {
  font-size: 18px;
  margin: 0px;
}

p#restaurant-info {
  font-style: italic;
  font-size: 10px;
  margin: 5px;
}

.lunch-stats {
  padding: 5px;
  float: left;
  font-size: 18px;
}

.restaurant-name {
  margin: 0px;
}

.lunch-item {
  font-size: 10px;
}



.restaurantDetails{
  float: right;
}

.winner {
  background-color: gold;
}

form {
  margin: 5px;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 5px;
}
li:nth-child(even) {
  background-color: #F0F0F0;
}

.like-bar {
  border-width: 1px;
  padding: 0.1em 0em 0.3em;
}
