.main {
  background: #fff;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
}

body {
  background: #eee;
  color: #666666; }

#main {
  position: relative;
}
.page {
  position: absolute;
  top: 0px;
  width: 100%;
}

img {
  max-width: 100%;
}

.navbar {
  margin-bottom: 10px; }
  /* line 32, ../sass/style.scss */
  .navbar .navbar-inner {
  border-radius: 0px 0px 3px 3px; }

.lunch {
  width: 220px;
  margin: 10px;
  float: left;
}

