.container {
  margin-top: 70px;
}

.fixed {
  position: fixed;
}
.scrollit {
  float: right;
}

.main {
  background: #fff;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
}

body {
  background: #eee;
  color: #666666; }

#main {
  position: relative;
}

.page {
  position: absolute;
  top: 0px;
  width: 100%;
}

img {
  max-width: 100%;
}

.navbar {
margin-bottom: 10px; }
/* line 32, ../sass/style.scss */
.navbar .navbar-inner {
border-radius: 0px 0px 3px 3px; }

.lunch {
  width: 200px;
  margin: 10px;
  float: left;
}

.lunch img:hover {
  -moz-box-shadow: 0 0 15px #ccc;
  -webkit-box-shadow: 0 0 15px #ccc;
  box-shadow: 0 0 15px #ccc;
}

#results {
  margin-top: 5px;
}

.result-item {
  margin-bottom: 10px;
}

form {
  margin: 5px;
}
ul {
  margin: 0;
  padding: 0;
}

.run {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  list-style: none;
  padding: 5px;
  border-bottom: #eee solid 1px;
}
