<template name="lunchList">
<div class="row">
  <div class="col-md-2 fixed">
    <div id="results">
      {{#each results}}
      <div class="result-item">
        <strong>{{restaurantName}}</strong><br/>
        {{voters}}
      </div>
      {{/each}}
    </div>
  </div>
  <div class="col-md-10 scrollit">
    <div id="lunches">
      {{#each lunches}}
      <div class="lunch">
        <img src="{{image.url}}">
        <div class='like-bar'>
          <span class='label label-danger'>{{restaurantVotes}}</span>
          {{#if currentUser}}
            {{#unless votedToday}}
              <a href='#' class='upvote'>
                <i class='fa fa-thumbs-o-up'></i>
              </a>
            {{/unless}}
          {{/if}}
        </div>
      </div>
      {{else}}
        <img src="images/homer.jpg">
      {{/each}}
    </div>
  </div>
</div>
</template>
