<template name="lunchList">
<div class="row lunches-row">
  <div class="lunches">
    {{#each lunches}}
      {{> lunch}}
    {{else}}
    <img src="images/homer.jpg">
    {{/each}}
  </div>
</div>
</template>

<template name="lunch">
<div class="lunch {{searchStatus}}">
  <div class='lunch-header'>
    <div class="lunch-stats">
      <span class='label label-info'>{{votes}}</span>
    </div>
    <div class="lunch-details">
      <h3 id="restaurant-title">{{restaurantName}}</h3>
      <p id="restaurant-info">Yht. {{restaurantVotes}} ääntä. {{voters_list}}</p>
    </div>
    <div class="lunch-vote">
      {{#if currentUser}}
        {{#unless votedToday}}
          <a href='#' class='upvote'>
            <i class='fa fa-thumbs-o-up votable'></i>
          </a>
        {{/unless}}
      {{/if}}
    </div>
  </div>
  <div class='lunch-main'>
    <ul>
      {{#each lunchItems}}
      <li class="lunch-item">{{.}}</li>
      {{/each}}
    </ul>
  </div>
</div>
</template>

